/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Verdana, sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.container .container--section {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-basis: 100%;
}

.tagline--container {
  background-color: #f5f5f5;
  border-bottom: 2px solid #b5b5b5;
}
.tagline--container .tagline {
  padding: 30px;
}
.tagline--container .tagline .tagline--text {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* Form */
.form--item {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 520px;
}

.form--input {
  border: 1px solid #b5b5b5;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 22px;
  width: 100%;
}

.form--btn {
  background-color: #fff;
  border: 2px solid #b5b5b5;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  padding: 22px;
  width: 240px;
}

.form--btn_sml {
  width: 240px;
}

.form--btn_lrg {
  width: 500px;
}

.form--btn_active {
  border: 2px solid green;
}

.form--btn_submit {
  background-color: green;
  border: 2px solid green;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

/* Search Breadcrumbs */
#searchBreadcrumb p {
  font-size: 16px;
}
#searchBreadcrumb p strong {
  font-weight: bold;
  text-transform: capitalize;
}
#searchBreadcrumb p span {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

/* Seach Results */
.results--container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.result {
  align-items: center;
  border: 1px solid #b5b5b5;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px 0 0;
  min-width: 195px;
  width: calc(25% - 20px);
}

.result:nth-child(4n) {
  margin: 20px 0 0;
}

.result--title-container,
.result--img-container {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.result--title-container {
  background-color: #f5f5f5;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid #b5b5b5;
}

.result--title {
  font-size: 18px;
  font-weight: bold;
}

.result--error-container {
  padding: 30px 0;
}

.result--error-title {
  background-color: rgba(192, 0, 0, 0.5);
  border-left: 5px solid #c00000;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 22px 22px 22px 30px;
  text-align: left;
}

.result--error-suggestions {
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-top: 30px;
  padding: 22px 35px;
}

.result--error-text {
  box-sizing: border-box;
  padding: 20px 0;
}

.result--errors-list {
  list-style-type: circle;
  padding: 0 0 0 50px;
}

.result--error-item {
  padding: 10px 0;
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 1024px) {
  .result--title {
    font-size: 13px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .result:nth-child(4n) {
    margin: 20px 20px 0 0;
  }

  .result:nth-child(3n) {
    margin: 20px 0 0;
  }

  .container .container--section {
    padding: 15px;
  }

  .result {
    min-width: 220px;
  }
}
@media only screen and (min-width: 520px) and (max-width: 767px) {
  .result:nth-child(4n) {
    margin: 20px 20px 0 0;
  }

  .result:nth-child(2n) {
    margin: 20px 0 0;
  }
}
@media only screen and (max-width: 520px) {
  .container .container--section {
    padding: 10px;
  }

  #searchForm > form,
.form--item,
.form--btn_lrg {
    width: 100%;
  }

  .form--btn_sml {
    width: calc(50% - 10px);
  }

  .results-container {
    padding: 0;
  }

  .result:nth-child(4n) {
    margin: 20px 0 0;
  }

  .result {
    margin: 20px 0 0;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
