@import "reset";

$white: #fff;
$red: #c00000;
$redtrans: rgba(192, 0, 0, .5);
$green: green;
$grey-light: #f5f5f5;
$grey-dark: #b5b5b5;

$w100: 100%;
$rad: 8px;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $w100;
    .container--section{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        padding: 30px;
        flex-basis: $w100;
    }
}

.tagline--container{
    background-color: $grey-light;
    border-bottom: 2px solid $grey-dark;

    .tagline{
        padding: 30px;
    
        .tagline--text{
            font-size: 22px;
            font-weight: bold;
            text-align: center;
        }
    }
}


/* Form */
.form--item{
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 520px;
}
.form--input{
    border: 1px solid $grey-dark;
    border-radius: $rad;
    box-sizing: border-box;
    font-size: 16px;
    padding: 22px;
    width: $w100;
}
.form--btn{
    background-color: $white;
    border: 2px solid $grey-dark;
    border-radius: $rad;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    padding: 22px;
    width: 240px;
}
.form--btn_sml{
    width: 240px;
}
.form--btn_lrg{
    width: 500px;
}
.form--btn_active{
    border: 2px solid $green;
}
.form--btn_submit{
    background-color: $green;
    border: 2px solid $green;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
}

/* Search Breadcrumbs */
#searchBreadcrumb p{
    font-size: 16px;
    

    strong{
        font-weight: bold;
        text-transform: capitalize;
    }
    span{
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;
        text-transform: capitalize;
    }
}


/* Seach Results */
.results--container{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    width: $w100;
}
.result{
    align-items: center;
    border: 1px solid $grey-dark;
    border-radius: $rad;
    box-shadow: 2px 2px 1px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px 0 0;
    min-width: 195px;
    width: calc(#{$w100 / 4} - 20px);
}

.result:nth-child(4n){
    margin: 20px 0 0;
}

.result--title-container,
.result--img-container{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 30px;
    text-align: center;
    width: $w100;
}

.result--title-container{
    background-color: $grey-light;
    border-bottom-left-radius: $rad;
    border-bottom-right-radius: $rad;
    border-top: 1px solid $grey-dark;
}
.result--title{
    font-size: 18px;
    font-weight: bold;
}
.result--error-container{
    padding: 30px 0;
}
.result--error-title{
    background-color: $redtrans;
    border-left: 5px solid $red;
    border-top-right-radius: $rad;
    border-bottom-right-radius: $rad;
    box-sizing: border-box;
    color: $white;
    display: flex;
    justify-content: center;
    padding: 22px 22px 22px 30px;
    text-align: left;
}

.result--error-suggestions{
    background-color: $grey-light;
    border-radius: $rad;
    margin-top: 30px;
    padding: 22px 35px;
}

.result--error-text{
    box-sizing: border-box;
    padding: 20px 0;
}

.result--errors-list{
    list-style-type: circle;
    padding: 0 0 0 50px;
}

.result--error-item{
    padding: 10px 0;
}

.hidden{
    display: none!important;
}

@media only screen and (max-width: 1024px){
    
    .result--title{
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .result:nth-child(4n){
        margin: 20px 20px 0 0;
    }
    .result:nth-child(3n){
        margin: 20px 0 0;
    }
    .container .container--section{
        padding: 15px;
    }
    .result{
        min-width: 220px;
    }
}
@media only screen and (min-width: 520px) and (max-width: 767px){
    .result:nth-child(4n){
        margin: 20px 20px 0 0;
    }

    .result:nth-child(2n){
        margin: 20px 0 0;
    }
}

@media only screen and (max-width: 520px){
    .container .container--section{
        padding: 10px;
    }

    #searchForm > form,
    .form--item,
    .form--btn_lrg{
        width: $w100;
    }

    .form--btn_sml{
        width: calc(#{$w100 / 2} - 10px);
    }
    .results-container{
        padding: 0;
    }
    .result:nth-child(4n){
        margin: 20px 0 0;
    }
    .result{
        margin: 20px 0 0;
        width: $w100;
    }
}